ul{list-style: none;}/*블릿없애기*/

/*
* Resume template
* Created by : Ahmed Essa
* website : www.ahmedessa.net
*/


/* Table of Content
==================================================
	- Google fonts & font family -
	- typography -
	- General -
    - Preloader -
	- Header -
    - home section -
    - About section -
    - experience section -
    - projects section -
    - Contact section -
    - Responsive media queries -
*/


/* Google fonts & font family
==================================================*/

@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i';

/*
font-family: 'Playfair Display', serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

@font-face {
    font-family: 'LeferiPoint-SpecialItalicA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialItalicA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'eferiLPoint-SpecialA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}

@font-face {
    font-family: 'ChosunKm';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* typography
==================================================*/

h1 {
    font-family: 'LeferiPoint-SpecialItalicA';
    font-size: 45px;
    line-height: 70px;
	color: #384d50;
    font-weight: 600;
}

h4 {
    font-family:'eferiLPoint-SpecialA';
    text-transform: capitalize;
    letter-spacing: 2px;
    position: relative;
    color: #c3e2e6;
    font-size: 48px;
    font-weight: 600;
}

/*
h4:before {
    position: absolute;
    width: 30px;
    left: -40px;
    content: "";
    display: block;
    height: 2px;
    background: #425BB5;
    top: 9px;
}
*/

/* General
==================================================*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.size-50 {
    font-size: 50px;
    line-height: 65px
}

.h-50 {
    height: 50px;
}


/* preloader
==================================================*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 10000
}


#status,
.preloader {
    top: 50%;
    left: 50%;
    position: absolute
}

#status {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    margin: -50px 0 0 -50px
}

.preloader {
    height: 40px;
    width: 40px;
    margin-top: -20px;
    margin-left: -20px
}

.preloader:before {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    height: 100%;
    width: 100%;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
    border: 2px solid #425BB5;
    border-top: 2px solid transparent;
    border-radius: 100%
}

.preloader>.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 25px;
    width: 10.6px;
    margin-top: -12.5px;
    margin-left: -5.3px;
    -webkit-animation: wink 1s ease-in-out infinite alternate;
    animation: wink 1s ease-in-out infinite alternate
}

@media only screen and (min-width:768px) {
    .preloader {
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px
    }
    .preloader:before {
        left: -2px;
        top: -2px;
        border-width: 2px
    }
    .preloader>.icon {
        height: 37.5px;
        width: 15.9px;
        margin-top: -18.75px;
        margin-left: -7.95px
    }
}

@media only screen and (min-width:1200px) {
    .preloader {
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px
    }
    .preloader>.icon {
        height: 50px;
        width: 21.2px;
        margin-top: -25px;
        margin-left: -10.6px
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-webkit-keyframes wink {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes wink {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}


/* Header
==================================================*/

header {
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    height: 65px;
}

nav ul {
    display: inline-block;
    padding-left: 0;
    list-style: none;
    padding: 20px;
    margin-bottom: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav li a {

    text-transform: uppercase;
    letter-spacing: 2px;
    color: #70b6b9;
    font-size: 11px;
    font-weight: bold;
}

.bg-nav {
    background: rgb(255, 255, 255);
}

.bg-nav ul {
    padding: 10px;
}

a:focus {
    color: #444;
    text-decoration: none;
}

a:hover {
    color:  #384d50;
    text-decoration: none;
}
/*
a.active {
    color: #384d50;
}*/


/* home section
==================================================*/

#home {
    background: url(../img/main/bg.jpg);
    background-size: cover;

    height: 100vh;
}
@media only screen and (min-width:1200px) {
	

	#home .container h2{
		width:500px;
        height: 60px;
        padding: 18px 60px;
    	font-size:34px;
		color:#ffffff;
		font-family: 'LeferiPoint-WhiteObliqueA';
        background: url(../img/main/line.png) no-repeat left center;
	}

	.table-cell {
		display: table-cell;
		vertical-align: top;
		padding-top:100px;
		
	}
	.table-cell h1{
		color:#384d50;
		padding-top:34%;
        font-family: 'LeferiPoint-SpecialItalicA';
        font-size: 60px;

     
	}
	.disply-table {
		display: table;
		height: 100vh;
		margin-top: 50px;
	}
  
	.box_B{
		width:600px;
		height:1023px;
		position:absolute;
		top:40%;
		left:80%;
		transform:translate(50%, -50%);
        
	}
    .photo{
        position:absolute;
        top:26%;
		left:-30%;
    }
    .text{
        color:#ffffff;
        font-family: 'LeferiPoint-SpecialItalicA';
        font-size: 60px;
        position:absolute;
		top:71.8%;
		left:30.2%;
    }




	}
	.box h4{
		font-size:20px;
		margin-top:50px;
		color:#fff;
	}
	.box h4:before {
		position: absolute;
		width: 30px;
		left: -40px;
		content: "";
		display: block;
		height: 2px;
		background: #fff;
		top: 9px;
	}




@media (min-width:501px) and (max-width:1199px){
	h1 {
        font-family: 'Playfair Display', serif;
        font-size: 50px;
        line-height: 50px;
    }
    #home,
    .disply-table {
        height: 100vh;
    }
   
	.disply-table h1{
 

		color:#fff;
		margin-top:100px;
	}
	.container h2{
		text-align:center;
		font-size:90px;
		color:#425BB5;
		font-family: 'Lato', sans-serif;
	}
	
	.dia{
		width:250px;
		margin:50px 0 0 250px;
		
	}
	.dia img{
		width:100%;
		display:block;
	}
	.box h4{
		font-size:18px;
		margin:30px 0 0 150px;
		color:#fff;
		
		
	}
	.box h4:before {
		position: absolute;
		width: 30px;
		left:-40px;
		content: "";
		display: block;
		height: 2px;
		background: #fff;
		top: 9px;
	}
}	










/* about section
==================================================*/

#about {
 
    padding: 9% 0;
}
#about span{
	color:#63c1c4;
	font-weight:600;
}

.about-img-div  { /*프로필*/
    float: right;
    width:47%;

    margin: 0 auto;
    background-color: #fffaf5;
    text-align: center;
    padding: 5% 0;

}



.bar_2{
    float: right;
   
    
    background-image: url(../img/about/bar_3.jpg);
    background-repeat: no-repeat;
    background-position: left;
    
    padding-bottom: 30%;
   
} 

.about_box{
    padding-left: 14%;
}

.container_mini{  /*사진*/
    float: left;
    width:53%;
    box-sizing: border-box;
}
.my_photo{
    padding: 10% 0;
}
.my_text_1{
    font-size: 29px;
    color: #816255;
    font-family: 'LeferiPoint-SpecialItalicA';
    text-transform: uppercase;
    padding:  0 43px;
    line-height: 50px;
    letter-spacing: 1px;
}


.my_text_2{
    font-size: 14px;
    color: #816255;
    font-family:'LeferiPoint-WhiteObliqueA';
    padding:  11px 43px;
    line-height: 32px;

    
}


.h{
	font-size:16px;
	font-weight:600;
	padding-top:20px;
}

.h-1{
	padding:30px 0 10px;
	font-weight:500;
	color:#4da6ff;
	letter-spacing:5%;
}

.h-2{
    font-size: 13px;
}
.h-3{
	font-weight:600;
 
}

.h-4{
    padding-right: 33%;
}
.h-5{
    padding-top: 4%;
    padding-right: 32.5%;
}



/*experience_moblie*/
@media (max-width:600px){

    .about-img-div  {
        float:right;
        width:100%;
        margin: 0 auto;
        background-color: #fffaf5;
        text-align: center;
        padding: 5% 0;
    
    }
    .container_mini{
        float: left;
        width:100%;
        box-sizing: border-box;
        margin: 15% 0;
    }

    

    .about_box{
        padding-left: 18%;
    }


    .h-1{
        padding:30px 0 10px;
        font-weight:500;
        color:#4da6ff;
        letter-spacing:5%;
    }
    .h-2{
        font-size: 15px;
    }
    .h-4{
        font-size: 13px;
        padding-right: 10%;
    }
    .h-5{
        font-size: 13px;
        padding-right: 10%;
    }

    .h-3{
        font-size: 13px;
        font-weight:600;
    }

    


}
























/* experience section
==================================================*/

#experience {
    padding: 90px 0;
 
}

.experience-row {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.experience-row h3 {
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #425BB5;
    font-size: 16px;
    font-weight: bold
}

.experience-row p {
    color: #888;
    margin-top: 20px;
    font-size: 15px;
}

.experience-row .date {
    color: #000;
    font-size: 17px;
}


.col-md-8{



}

.col-md-8_A{
 padding-bottom: 50px;

} 
.col-md-8_B{

}

.experience_title{
    font-family: 'LeferiPoint-WhiteA';
    font-weight: 600;
    font-size: 18px;
    border-bottom: 1px solid #daddde;
    padding-bottom: 1%;
    margin-bottom: 5%;
}

.experience_title span{
    font-family: 'Nanum Gothic';
    font-size: 21px;
    font-weight: 600;
    color: #63c1c4;
    padding-right: 2%;

}


.experience_box_1{
    overflow: hidden;
}



.experience_gnb_A{
    float: left;
    width:30%;
    padding-left: 5%;
}
.experience_gnb_E{
    float: left;
    width:5%;
    padding-left: 0%;
    padding-right: 10%;
    padding-top: 5px;
}

.experience_gnb_B{
    float: left;
    width:50%;
    padding-left: 0%;
}





.experience_gnb_A li{
    font-family: 'ChosunKm';
    font-size: 15px;
}
.experience_gnb_A li:nth-child(1){
    padding-bottom: 24%;
}
.experience_gnb_A li:nth-child(2){
    padding-bottom: 31%;  
}
.experience_gnb_A li:nth-child(3){
    padding-bottom: 31%;  
}
.experience_gnb_A li:nth-child(4){
    padding-bottom: 31%;  
}






.experience_gnb_B li{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
}
.experience_gnb_B li span{
    font-weight:100;
}
.experience_gnb_B li:nth-child(1){
    padding-bottom: 11%;
}
.experience_gnb_B li:nth-child(2){
    padding-bottom: 10%;
}
.experience_gnb_B li:nth-child(3){
    padding-bottom: 9%;
}    
.experience_gnb_B li:nth-child(4){
    padding-bottom: 9%;
}






.experience_gnb_C{
    float: left;
    width:20%;
    padding-left: 5%;
}
.experience_gnb_F{
    float: left;
    width:5%;
    padding-left: 0%;
    padding-right: 10%;
    padding-top: 3px;
 }
.experience_gnb_D{
    float: left;
    width:50%;
    padding-left: 0%;
}




.experience_gnb_C li{
    font-family: 'ChosunKm';
    font-size: 15px;
    padding-bottom: 32px;
}
.experience_gnb_D li{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 32px;
}


/*experience_moblie*/
@media (max-width:600px){
	.experience_gnb_A{
        float: left;
        width:35%;
        padding-left: 0%;
    }
    .experience_gnb_E{
        float: left;
        width:5%;
        padding-left: 0%;
        padding-right: 10%;
        padding-top: 5px;
    }
    
    .experience_gnb_B{
        float: left;
        width:50%;
        padding-left: 0%;
    }
    
    
    
    
    
    .experience_gnb_A li{
        font-family: 'ChosunKm';
        font-size: 15px;
    }
    .experience_gnb_A li:nth-child(1){
        padding-bottom: 28%;
    }
    .experience_gnb_A li:nth-child(2){
        padding-bottom: 40%;  
    }
    .experience_gnb_A li:nth-child(3){
        padding-bottom: 40%;  
    }
    .experience_gnb_A li:nth-child(4){
        padding-bottom: 38%;  
    }
    
    
    
    
    
    
    .experience_gnb_B li{
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 15px;
    }
    .experience_gnb_B li span{
        font-weight:100;
    }
    .experience_gnb_B li:nth-child(1){
        padding-bottom: 20%;
    }
    .experience_gnb_B li:nth-child(2){
        font-size:14px;
        padding-bottom: 15%;
    }
    .experience_gnb_B li:nth-child(3){
        font-size:14px;
        padding-bottom: 16%;
    }    
    .experience_gnb_B li:nth-child(4){
        font-size:14px;
        padding-bottom: 16%;
    }
    .experience_gnb_B li:nth-child(5){
        font-size:12px;
    }




    .experience_gnb_C{
         float: left;
        width:20%;
        padding-left: 0%;
    }
    .experience_gnb_F{
        float: left;
        width:15%;
        padding-left: 0%;
        padding-right: 10%;
        padding-top: 5px;
     }
    .experience_gnb_D{
        float: left;
        width:50%;
        padding-left: 0%;
    }
    
}





/*
.experience_gnb_C li{
    float: left;
    width:80px;

    font-family: 'ChosunKm';
    font-size: 15px;
}
.experience_gnb_C span{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
}

/*
.experience_gnb_D{
   
}
.experience_gnb_D li{
    float: left;
}
*/





/*
.timeline {
    padding-left: 0;
    list-style: none;
    position: relative;
}

.timeline:before {
    background-color: black;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
}

.timeline-event {
    position: relative;
}
.timeline-event{
		width:50%;
		float:left;
}

.timeline-event:hover .timeline-event-icon {

}

.timeline-event:hover .timeline-event-thumbnail {

}

.timeline-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: 100%;
}

.timeline-event-copy h3 {
    font-size: 13px;
}

.timeline-event-copy h4 {
    font-size: 1em;
    margin-bottom: 1em;
}

.timeline-event-copy strong {
    font-weight: 700;
}

.timeline-event-copy p:not(.timeline-event-thumbnail) {
    padding-bottom: 1em;
}

.timeline-event-icon {
    border-radius: 50%;
 
    background-color: #384d50;
   
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
}

.timeline-event-thumbnail {
  
   
 
    font-size: 12px;
    font-weight: bold;
    background-color: #e0ebed;
   
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
}

*/


/* skill section
==================================================*/
#skills{
	background:#fffaf5;
	padding:50px;
}
.skill-box {
  width: 80%;
  padding: 20px;
  max-width: 1200px;
  margin:0 auto;
  
}
.skill-box > h3 {
  margin-bottom: 15px;
  color: #333;
}
.skill-box > .skills-circle > ul {
  padding: 0;
  text-align: center;
  list-style-type: none;
  
}
.skill-box > .skills-circle > ul > li {
  width: 150px;
  height: 150px;/*원크기조정가능*/
  background-color: #c3e2e6;/*1.bar 채워지지않은 비워있는 color*/
  border-radius: 50%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
}

.skill-box > .skills-circle > ul > li > span {
  color: #384d50;
  font-size:35px;
  padding:1.5em;
}
.skill-box > .skills-circle > ul > li > span.text, .skill-box > .skills-circle > ul > li > span ~ b {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: -8px;
  z-index: 1;
}
.skill-box > .skills-circle > ul > li > span.text ~ b, .skill-box > .skills-circle > ul > li > span ~ b ~ b {
  font-weight: normal;
  margin-top: 2em;
}
.skill-box > .skills-circle > ul > li > span.bar-circle-right, .skill-box > .skills-circle > ul > li > span.bar-circle-left {
  border-radius: 50%;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #496063;/*bar 채워지는 color*/
  clip: rect(0, 75px, 150px, 0);
}
.skill-box > .skills-circle > ul > li > span.bar-circle-left {
  background: #aaa;/*2.bar 채워지지않은 비워있는 color*/
					/*1,2 동시에 바꿔야함*/
}
.skill-box > .skills-circle > ul > li > span.bar-circle-cover {
  display: block;
  width: 95%;
  height: 95%;/*bar 굵기 두껍게 하고싶으면 여기 width랑 height랑 %줄이면됨*/
  border-radius: 50%;
  background-color: #fff;/*bar안에 동그라미 color*/
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* projects section
==================================================*/

#projects {
    padding: 50px 0;
	background:#fffaf5;
}

.portfolio .categories-grid span {
    font-size: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.portfolio .categories-grid .categories ul li {
    list-style: none;
    margin: 20px 0;
}

.portfolio .categories-grid .categories ul li a {
    display: inline-block;
    color: #60606e;
    padding: 0 10px;
    margin: 0 14px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio .categories-grid .categories ul li a:hover,
.portfolio .categories-grid .categories ul li a:focus {
    text-decoration: none;
}

.portfolio .categories-grid .categories ul li a.active {
    background-color: #384d50;
    padding: 0px 20px;
    color: white;
    text-decoration: none;

}

.portfolio_filter {
    padding-left: 0;
}

.portfolio_item {
    position: relative;
    margin: 10px 0;
	
}
.img-responsive{
	width:100%;
    display: block;
}

.portfolio_item .portfolio_item_hover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #425BB5;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #333;
}

.portfolio_item .portfolio_item_hover .item_info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding:10px;
    width: 100%;
    font-weight: bold;
}

.portfolio_item .portfolio_item_hover .item_info span {
    display: block;
    color: #fff;
    font-size: 18px;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transition: all .3s ease-in-out .3s;
    transition: all .3s ease-in-out .3s;
    opacity: 0;
}

.portfolio_item .portfolio_item_hover .item_info em {
    font-style: normal;
    display: inline-block;
    background-color: #425BB5;
    padding: 5px 20px;
    color: #fff;
    margin-top: 10px;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all .3s ease-in-out .3s;
    transition: all .3s ease-in-out .3s;
    opacity: 0;
    font-size: 10px;
    letter-spacing: 2px;
}

.portfolio_item:hover .portfolio_item_hover {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio_item:hover .item_info em,
.portfolio_item:hover .item_info span {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio .categories-grid .categories ul li {
    float: left;
}

.portfolio .categories-grid .categories ul li a {
    padding: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio_filter {
    padding-left: 0;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}



.portfolio-padding {
    padding: 50px 0;
}

.portfolio-inner {
    padding-bottom: 0 !important;
    padding-top: 55px;
}

.modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    border: none;
}

.popup-modal {
    background: #fff;
}

.close-popup-modal {
    float: right;
    margin: 20px;
    font-size: 22px;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
    position: fixed;
    z-index: 100000;
    right: 14px;
}

.animatedModal-on .close-popup-modal {
    opacity: 1;
}

.modal-content h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    line-height: 50px;
}


/* contact
==================================================*/

#contact {
    padding: 30px 0;
  
}
#contact p{
	
	font-weight:0;
}
#contact-form input,
#contact-form textarea {
    height: 50px;
    margin-bottom: 10px;
    border-radius: 0;
}

#contact-form label {
    display: block;
    margin-bottom: .2em;
    font-size: 13px;
    line-height: 13px;
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: #000;
}

#contact-form label.error {
    margin-top: 10px;
    margin-bottom: 1em;
    font-size: 12px;
    line-height: 12px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #D33E43;
    margin-left: 10px
}

#contact-form input[type="text"].error,
#contact-form input[type="password"].error,
#contact-form input[type="date"].error,
#contact-form input[type="datetime"].error,
#contact-form input[type="datetime-local"].error,
#contact-form input[type="month"].error,
#contact-form input[type="week"].error,
#contact-form input[type="email"].error,
#contact-form input[type="number"].error,
#contact-form input[type="search"].error,
#contact-form input[type="tel"].error,
#contact-form input[type="time"].error,
#contact-form input[type="url"].error,
#contact-form textarea.error {
    border-color: #D33E43
}
textarea {
    resize: none;
}

fieldset {
    border: 0px;
    margin: 0;
    padding: 0
}

.required {
    color: #e9266d
}

#success,
#error {
    display: none
}

#success p,
#error p {
    display: block;
}

#success p {
    color: #425BB5;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    border: 2px solid #425BB5;
    margin-top: 10px;
}

#error p {
    color: #D33E43;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    border: 2px solid #D33E43;
    margin-top: 10px;
}

#submit {
    background-color: #425BB5;
    color: #fff;
    padding: 10px 40px;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    width: 100%;
}

.social {
    padding-left: 0;
    list-style: none;
    margin-top: 20px;
}

.social li {
    float: left;
}

.social li a {
    color: #333;
    font-size: 35px;
    margin-right: 15px;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.social li a:hover {
    color: #425BB5;
}


/* Responsive media queries
==================================================*/

.project_btn{
    display:inline-block;
    padding:5px 20px;
    margin: 0 1.5px;
    border:1px solid #729094;
    border-radius:30px;
    color:#333;
    font-weight: 600;
}

.project_btn:hover{color:#fff;
	background:#729094;}
.project_btn_box{text-align:left;
padding-top:10px;}



@media (max-width: 991px) {
    .portfolio .categories-grid .categories ul li a {
        padding: 0 2px;
    }
  
}

@media (max-width: 768px) {
    .timeline-event-copy {
        width: 90%;
        left: 2em;
    }
	
}

@media (max-width: 500px) {
    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 50px;
        line-height: 50px;
    }
    #home,
    .disply-table {
        height: 97vh;
    }
    .about-border {
        width: 265px;
    }
    .portfolio .categories-grid .categories ul li {
        list-style: none;
        margin: 10px 0;
    }
	.disply-table h1{
        font-family:'LeferiPoint-SpecialItalicA';
        font-size:60px;
		color:#384d50;
		margin-top:31%;
        line-height: 1.3em;
    
	}
	.container h2{
        padding-bottom: 4%;
        font-size:50px;
		color:#63c1c4;
		
	}
	.dia{
		width:200px;
		margin:80px 0 0 120px;
		
	}
	.dia img{
		width:100%;
		display:block;
	}
	.box h4{
		font-size:14px;
		margin-top:50px;
		color:#fff;
	}
	.box h4:before {
		position: absolute;
		width: 30px;
		left: -40px;
		content: "";
		display: block;
		height: 2px;
		background: #fff;
		top: 9px;
	}
	.item_info{
	padding-top:30px;
    }	
    .text{
    color: #408e91;
    font-family: 'LeferiPoint-SpecialItalicA';
    font-size: 60px;
    padding-top: 8%;
    text-align: right;
    }

    .size-50 { 
    font-family: 'LeferiPoint-SpecialItalicA';
    }

@media (max-width: 420px) {
    nav li {
        margin: 6px;
    }
    nav li a {
        font-size: 10px;
    }
}

.portfolio_container .col-md-12{
    padding-left:0;
	padding-right:0;
    padding-top:10px;
}

.item_info{
	padding-top:50px;
}	
.project_btn{
    display:inline-block;
	padding:5px 17px;
    margin: 0 0px;
	border:1px solid #729094;
	border-radius:30px;
    color:#333;
	font-weight: 600;
}
.project_btn:hover{color:#fff;
	background:#729094;}
.project_btn_box{text-align:left;
padding-top:10px;}
.clear{clear:both;}
.portfolio_item{height:230px;}
.portfolio_bg{background:url(../img/portfolio/01.jpg);}
